:root {
  font-family: Arial, Helvetica, sans-serif;

  font-weight: 400;
  max-width: 400px;
  margin: 0 auto;
  padding: 2%;
}
/* .roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
} */
body {
  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: black;
}
.back-btn {
  width: max-content;
  padding: 0 20px;

  border-radius: 10px;
  background-color: #112945;
}
.back-btn p {
  color: aliceblue;
}
/* .header {
	font-family: ;
} */

/*********************** LAYOUT PAGE */
.layout-btn {
  text-align: center;
  padding: 5%;
  margin: 2% 10%;

  border-radius: 10px;
  color: aliceblue;
  background-color: #3687a0;
  transition: all 0.2s ease-in-out;
}
.layout-btn:hover {
  background-color: #112945;
  cursor: pointer;
}
.spons-contain {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.spons-contain img {
  width: 80%;
}

/************************ AGENDA PAGE */
.daySelectCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.daySelectBtn {
  display: grid;
  place-content: center;
  background-color: #112945;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  height: 60px;
  width: 105px;
  border-radius: 10px;
}
.daySelectBtn:hover {
  background-color: #3a86dd;
  color: rgb(0, 0, 0);
}

.agenda-item {
  display: flex;

  border-radius: 10px;
  background-color: #81c671d1;
  padding: 2% 4%;
  margin: 2%;
  transition: all 0.2s ease-in-out;
}
.caret {
  margin: 20px 10px;
}
.agenda-item:hover {
  background-color: #0c1d30;
  color: aliceblue;
  cursor: pointer;
}
.agenda-item:active {
  background-color: #112945;
  color: aliceblue;
}

.reveal-contain {
  background-color: #3687a052;
  border-radius: 10px;
  padding: 5px 5px 10px 5px;
  margin: 10px;
}
.reveal-contain p {
  padding: 5px 10px;
}
.speaker-pic-contain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  place-content: center;
}
.speaker-pic-info {
  text-align: center;
  margin: auto;
  padding-top: 20px;
  border-radius: 10px;
}
.speaker-pic-info:hover {
  background-color: #112945;
  color: aliceblue;
}
.speaker-pic-info img {
  width: 60%;
}
.assets-button {
  text-align: center;
  padding: 10px;
  margin: 20px 10px;
  border-radius: 10px;
  background-color: #112945;
  color: aliceblue;
}
.assets-button:hover {
  background-color: rgb(213, 233, 250);
  color: #171c33;
  cursor: pointer;
}
/*********************** SPEAKERS LIST PAGE */

.speaker-contain {
  padding: 1%;
  margin: 1%;
  border: 2px solid rgb(217, 217, 217);
  border-radius: 10px;
  text-align: center;
}
.speaker-contain img {
  width: 200px;
  height: 200px;
}
.speaker-contain:hover {
  background-color: #414d8d;
  color: aliceblue;
}
.speaker-info {
  padding-left: 10px;
}
/*********************** Attendees LIST PAGE */
.sortButtonCont {
  display: grid;
  place-content: center;
  grid-template-columns: 1.5fr 0.5fr;
}
.arrowContain {
  margin: auto;
}
.arrowBtn {
  font-size: 1.3cm;
  cursor: pointer;
}
.personContainer {
  border-bottom: 1px #3c3c3c solid;
}
